@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-black tracking-tight;
  }
}
